@import url("/css/barra-nav.css");
@import url("/css/carrusel-galeria.css");

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  height: fit-content;
  width: 100vw;
  overflow-x: hidden;

}

main {
  width: 100%;
  height: 100%;
}

.contenedor-titulo-h1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

h1 {
  font: 700px "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: min(15dvw, 80px)  !important;
}


footer {
  width: 100%;
  height: fit-content;
  background-color: #212121;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 40px 0;
}

.contenedor-footer {
  text-align: center;
}