@import url("/css/barra-nav.css");
@import url("/css/carrusel-galeria.css");


@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --w-about: 60%;
  --w-fotos: 40%;
  --titulos: 700px "Oswald", sans-serif;
  --texto: 700px "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  height: fit-content;
  width: 100vw;
  overflow-x: hidden;
}

main {
  width: 100%;
  height: 100%;
}

.contenedor-titulo-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

h1,
h2,
h3 {
  font: var(--titulos);
  text-transform: uppercase;
}

h1 {
  font-size: min(20dvw, 100px) !important;
}

h2 {
  font-size: min(12dvw, 60px) !important;
  width: 100%;
}

h3 {
  font-size: min(7dvw, 30px) !important;
  width: 100%;
}

p {
  font: var(--texto);
  font-size: min(4dvw, 14px) !important;
  width: 100%;
  margin-top: 20px !important;
  text-wrap: wrap;
}

footer {
  width: 100%;
  height: fit-content;
  background-color: #212121;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 40px 0;
  text-align: center;
}

.texto-footer {
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 0 20px;
  border-right: solid 1px white;
}

.texto-footer p {
  margin: 0 !important;
}

.redes-footer {
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 0 20px;
}

.redes-footer img{
  width: auto;
  height: min(25px, 8dvw);
  margin: 0;
}

.contenedor-sobre-mi {
  width: 100%;
  height: fit-content;
  padding: 50px;
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #525252;
  color: white;
  column-gap: 10px;
}

.contenedor-sobre-mi .texto-sobre-mi {
  width: var(--w-about);
}

.contenedor-sobre-mi .contenido-sobre-mi {
  width: var(--w-fotos);
}

@media (max-width: 767px) {
  :root {
    --w-about: 100%;
    --w-fotos: 100%;
  }

  .contenedor-sobre-mi {
    padding: 50px 20px;
    row-gap: 20px;
  }
}

.contenido-sobre-mi img,
.contenedor-sobre-mi video {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.contenedor-form {
  width: 100%;
  height: fit-content;
  padding: 50px;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #525252;
  color: white;
}

#formulario {
  width: min(400px, 100%);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

#formulario label {
  font: var(--titulos) !important;
  text-transform: uppercase;
  font-size: min(9dvw, 15px) !important;
}

#formulario input,
#formulario textarea,
#formulario button {
  font: var(--texto) !important;
  font-size: min(5dvw, 13px) !important;

}

#formulario button {
  background-color: #7066e0;
  border-color: #7066e0;
}

#formulario button:hover {
  background-color: #443e8a;
  border-color: #443e8a;
}

.contenedor-mapa {
  width: 100%;
  height: fit-content;
  background-color: #525252;
  padding: 50px;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  row-gap: 20px;
}

#mapa {
  width: min(1028px, 100%);
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 10px;
}

@media (max-width: 424px) {
  audio {
    width: 100%;
  }
}